body{
    background-image: url('green-grass-background-photo.jpg');
    background-size: cover;
}

.grid{
    /* border: solid black; */
    display: grid;
    grid-gap: none;
    position: fixed;
    height: 600px;
    width: 800px;
    grid-template-columns: repeat(3,auto);
    padding-left: 25%;
}
.circle{
    /* border: solid red; */
    border-radius: 50%;
    background-color:  rgba(255, 157, 0, 0.971);

}
.title{
    border: solid black;
    height: 60px;
    background-color: brown;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-left: 25%; */
    /* padding-top: 2px; */
}

h1{
    text-align: center;
 }

.score_time_button{
    border: solid blue;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* padding: 1em; */
    /* margin-top: 3em; */
}
.button{
display: flex;
flex-direction: row;
/* align-items: flex-start; */
justify-content: space-between;

}
.score_time{
    display: inline-flex;
    /* align-items: flex-end; */
    justify-content: space-evenly;
}

h2{
    display: inline;
    justify-content: space-between;
}

.mole{
    background-image: url('cute_mole.jpg');
    background-size: cover;
}





/*
.title, .score_time_button {
    border: solid blue; 
    background-color: yellowgreen;
     height: 70px;
    }
   
    .title{
       justify-content: space-around;
       align-items: center;
       display: flex;
     } 
   
    h1{
       text-align: center;
    }
   
   .score_time_button{
       display: inline;
       justify-content:space-between;
   
   }
   
   .score_time{
       border: solid red;
       /* border-radius: 12%; */
       /* background-color: yellowgreen;
       /* display: flex; */
       /* justify-content:space-around; */
       /* justify-content: space-between; */
       /* align-items: flex-end;
       align-content: space-around;
     }
   
   .button{
       border: solid red;
       border-radius: 12%;
       background-color: yellowgreen;
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
     } */


